$bgcolor: #0d0a12;
$text: #e5e5e5;

%rubik-300 {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: "Rubik-Bold", sans-serif;
  font-weight: 700;
}

%ubuntu-700 {
  font-family: "Ubuntu-Bold", sans-serif;
  font-weight: 700;
}